display-study {
  display: grid;
  justify-content: center;
}

.study-date-title {
  grid-area: studydatetitle;
  display: grid;
  gap: 5px;
}

.study-authors {
  grid-area: studyauthors;
}

.study-fields {
  grid-area: studyfields;
  justify-self: end;
}

.study-abstract {
  grid-area: studyabstract;
}

.study-urls {
  grid-area: studyurls;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 25px;
}

.study-pdf-url {
  grid-column-start: 2;
}

.publication-info {
  grid-area: studypublicationinfo;
  display: grid;
  gap: 5px;
}

display-study > div {
  max-width: 800px;
  display: grid;
  gap: 25px;

  grid-template-areas: 
  "studydatetitle studydatetitle"
  "studyauthors studyfields"
  "studyabstract studyabstract"
  "studyurls studyurls"
  "studypublicationinfo studypublicationinfo"
  ;
}