display-all-research {
  display: grid;
  gap: 50px;
}

display-all-research > div > h2 {
  grid-area: title;
}

display-all-research > div > h3 {
  grid-area: categories;
  margin-bottom: 10px;
}

display-all-research > div > p {
  grid-area: text;
}

display-all-research > div > .research-buttons {
  grid-area: buttons;
}

display-all-research > div:nth-child(n + 2) {
  display: grid;
  justify-self: center;
  gap: 20px;
  grid-template: auto auto auto auto / 1fr 1fr;
  grid-template-areas: 
    "title title"
    "categories ."
    "text text"
    ". buttons";
  max-width: 900px;
}

#search-form > input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
}

@media screen and (max-width: 630px) {
  display-all-research > div:nth-child(n + 2) {
    grid-template-areas: 
    "title title"
    "categories ."
    "text text"
    "buttons buttons";
  }
}